<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="/@= static =@/vendors/material/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="/@= static =@/vendors/vuetify/vuetify.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="/@= static =@/favicon.ico">
  @@ block head @@ @@ endblock @@

</head>

<body style="overflow-y: hidden; overflow-x: hidden;">


  <div id="app" v-resize="onResize"> <the-app></the-app> </div>

    

  <script src="/@= static =@/vendors/ablaze/ablaze.js"></script>
  <script src="/@= static =@/vendors/ablaze/records.js"></script>

  <script src="/@= static =@/vendors/avue/vue_bundle.js"></script>
  <script src="/@= static =@/vendors/vuetify/vuetify.min.js"></script>



  @@ block scripts @@ @@ endblock @@
  @@ block mixin @@ @@ endblock @@
  <script type="text/javascript">
    Vue.component('the-app', {
      props:{
      },
      data: () => ({
      }),
      computed:{
      },
      mounted() {
      },
      methods: {
      },
      template: `<@@ block body @@ @@ endblock @@`,
    });
  </script>


  <script>
    const store   = new Vuex.Store({ state: () => ({  }) });
    const config  = @= vuex =@;

    Vue.prototype.$http = {};
    Vue.prototype.$http.api  = axios.create({ withCredentials: false });
    Vue.prototype.$http.cors = axios.create({ withCredentials: true });

    Vue.use( AblazeVue, { store, config } );


    new Vue({
      store,
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({
      }),
      mounted(){
  		},
      methods: {
        onScroll (e) {
          this.testwindow = e.target.scrollTop;
          console.log( e.target.scrollTop );
        },        
        onResize () {
          this.screen = { width: window.innerWidth, height: window.innerHeight };
        },        
      },
    })
  </script>

</body>

</html>
