<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="/@= static =@/vendors/material/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="/@= static =@/vendors/vuetify/vuetify.min.css" rel="stylesheet">

</head>

<body>
  <div id="app">

    <v-app>
      <v-main>
        <v-container>


			<template>
			  <v-container>
			    <v-row>



			      <v-col
			        cols="12"
			      >
              {{ globals }}
              {{ globals.project | cut(1) }}
              <p>
                {{ api }}
              </p>
              <test-click></test-click>
              <p>
                {{ forms.users.form.name }}
              </p>
              <api-form
                name="globals"
                crud="create"
                url="/json"
                cors
                v-slot="{ submit, clear, reset }"
              >
                <v-text-field
                  v-model="forms.users.form.name"
                  label="Globals"
                  append-icon="mdi-plus"
                  @click:append="submit"
                  @input="nameHandler"
                  :rules="[
                    v => !!v || 'Primary-Key is required',
                  ]"
                >
                </v-text-field>
              </api-form>

			      </v-col>




			    </v-row>
			  </v-container>
			</template>

        </v-container>
      </v-main>


    </v-app>
  </div>

  <script src="/@= static =@/vendors/ablaze/ablaze.js"></script>
  <script src="/@= static =@/vendors/ablaze/records.js"></script>

  <script src="/@= static =@/vendors/avue/vue_bundle.js"></script>
  <script src="/@= static =@/vendors/vuetify/vuetify.min.js"></script>

  <script>
    const store   = new Vuex.Store({ state: () => ({  }) });
    const config  = @= vuex =@;

    Vue.prototype.$http = {};
    Vue.prototype.$http.api  = axios.create({ withCredentials: false });
    Vue.prototype.$http.cors = axios.create({ withCredentials: true });

    Vue.use( AblazeVue, { store, config } );
    new Vue({
      store,
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({
      }),
      mounted(){
  		},
      methods: {
        nameHandler(){
          this.$nextTick(() => {
            this.forms.users.form.name = $ablaze.field.currency( this.forms.users.form.name )
          });
        }
      },
    })
  </script>

</body>

</html>
