<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="/static/vendors/material/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="/static/vendors/vuetify/vuetify.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="/static/favicon.ico">
  @@ block head @@ @@ endblock @@
</head>

<body>

  <div id="app" v-resize="onResize"> @@ block body @@ @@ endblock @@ </div>

  <script src="/static/vendors/ablaze/ablaze.js"></script>
  <script src="/static/vendors/ablaze/records.js"></script>

  <script src="/static/vendors/avue/vue_bundle.js"></script>
  <script src="/static/vendors/vuetify/vuetify.min.js"></script>

  @@ block scripts @@ @@ endblock @@
  <script>
  var mixin={}
  </script>

  @@ block mixin @@ @@ endblock @@



  <script>
    Vue.mixin( mixin )
    Vue.prototype.$http = {};
    Vue.prototype.$http.api  = axios.create({ withCredentials: false });
    Vue.prototype.$http.cors = axios.create({ withCredentials: true });

    const routes = [
      { path: '/foo', component: Page1 },
    ]
    const router = new VueRouter({ routes })

    const store  = new Vuex.Store({ state: () => ( @= data =@ ) })
    Vue.use( AblazeVue, { store } );

    new Vue({
      el: '#app',
      store,
      vuetify: new Vuetify(),
      data:()=>({
      }),
      methods: {
        go( url ) {
          window.location.href = url;
        },
        onResize () {
          this.$screen = { x: window.innerWidth, y: window.innerHeight };
        },
      },
      mounted() {
        this.onResize();
      }
    })
  </script>
</body>

</html>
