<!DOCTYPE html>

<html>
<head>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" name="viewport"/>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"/>
<link href="/__static__/vendors/material/css/materialdesignicons.min.css" rel="stylesheet"/>
<link href="/__static__/vendors/vuetify/vuetify.min.css" rel="stylesheet"/>
<link href="/__static__/favicon.ico" rel="shortcut icon"/>
</head>
<body>
<div id="app" v-resize="onResize">
<v-overlay :absolute="true" :value="loading.state" opacity="1">
<h1>Loading ...</h1>
</v-overlay>
<transition>
<router-view></router-view>
</transition>
</div>
<script src="/__static__/vendors/ablaze/ablaze.js"></script>
<script src="/__static__/vendors/ablaze/records.js"></script>
<script src="/__static__/vendors/avue/vue_bundle.js"></script>
<script src="/__static__/vendors/vuetify/vuetify.min.js"></script>
<script src="/__static__/build/app-2b6f01bb.js"></script>
<script src="/__static__/build/routes-2b6f01bb.js"></script>
<script src="/__static__/build/setup-2b6f01bb.js"></script>

</body>
</html>