include README.md
include LICENSE.txt
include CONFIG.json
include requirements.txt

include data/*
include data/neutralinojs/*
include data/neutralinojs/storage/*
include data/neutralinojs/app/*
include data/neutralinojs/app/assets/*
include data/neutralinojs/app/assets/static/*
include data/neutralinojs/app/assets/static/vendors/*
include data/neutralinojs/app/assets/static/vendors/ablaze/*
include data/neutralinojs/app/assets/static/vendors/avue/*
include data/neutralinojs/app/assets/static/vendors/material/*
include data/neutralinojs/app/assets/static/vendors/material/css/*
include data/neutralinojs/app/assets/static/vendors/material/fonts/*
include data/neutralinojs/app/assets/static/build/*
include readme/*

include static/*
include static/vendors/*
include static/vendors/ablaze/*
include static/vendors/vuetify/*
include static/vendors/avue/*
include static/vendors/material/*
include static/vendors/material/css/*
include static/vendors/material/fonts/*
include static/build/*