include README.md
include LICENSE.txt
include CONFIG.json
include requirements.txt

include data/*
include readme/*

include static/*
include static\build/*
include static\vendors/*
include static\vendors\ablaze/*
include static\vendors\avue/*
include static\vendors\material/*
include static\vendors\material\css/*
include static\vendors\material\fonts/*
include static\vendors\vuetify/*