<template>
  <v-app>

    <abz-main-bar clipped-left clipped-right dark color="deep-purple accent-4"></abz-main-bar>


    <v-navigation-drawer app clipped v-model="current_page.left">
      <h1>Left</h1>
    </v-navigation-drawer>

    <v-navigation-drawer app clipped right v-model="current_page.right">
      <h1>Right</h1>
    </v-navigation-drawer>

    <v-main>
      <the-view fluid auto-scroll cut="120">
        <h1>Main</h1>
        {{ current_page }}
        <br>
        {{ payload }}
        <example-form></example-form>
        <h1>{{ globals.project }}</h1>
        {{ $ablaze.lorem.s( 10 ) }}
      </the-view>
    </v-main>


    <v-footer padless app>
      <v-col
        class="text-center"
        cols="12"
      >
        {{ new Date().getFullYear() }} — <strong>Ablaze</strong>
      </v-col>
    </v-footer>




  </v-app>
</template>

<script>
 export default {
  props: {
  },
  data: () => ({
  }),
  computed: {
  },
  mounted(){
    this.current_page.left  = true;
    this.current_page.right = true;
  },
  updated(){
  },
  methods: {
  },
}
</script>
