<template>
  <v-app>

    <abz-main-bar clipped-left clipped-right dark color="deep-purple accent-4"></abz-main-bar>


    <v-navigation-drawer app clipped v-model="current_page.left">
      <h1>Left</h1>
    </v-navigation-drawer>

    <v-navigation-drawer app clipped right v-model="current_page.right">
      <h1>Right</h1>
    </v-navigation-drawer>

    <v-main>
      <the-view fluid auto-scroll cut="120">
        <v-row>
          <v-col cols=2>
            <v-text-field
              v-model="editor.config.font"
              append-icon="mdi-minus"
              prepend-icon="mdi-plus"
              label="Font ( Px )"
              hide-details="auto"
              dense
              @click:append="editor.config.font--"
              @click:prepend="editor.config.font++"
            ></v-text-field>
          </v-col>
          <v-col cols=5>
            <v-autocomplete
              v-model="editor.config.theme"
              :items="editor.themes"
              label="Theme"
              dense
            ></v-autocomplete>
          </v-col>
          <v-col cols=4>
            <v-autocomplete
              v-model="editor.live.lang"
              :items="editor.langs"
              label="Language"
              dense
            ></v-autocomplete>
          </v-col>
        </v-row>
        <abz-dev
          cut = "230"
          :lang.sync="editor.live.lang"
          :code.sync="editor.live.code"
          :uid.sync="editor.live.uid"
          :font.sync="editor.config.font"
          :theme.sync="editor.config.theme"
        ></abz-dev>

      </the-view>
    </v-main>


    <v-footer padless app>
      <v-col
        class="text-center"
        cols="12"
      >
        {{ new Date().getFullYear() }} — <strong>Ablaze</strong>
      </v-col>
    </v-footer>




  </v-app>
</template>

<script>
 export default {
  props: {
  },
  data: () => ({
  }),
  computed: {
  },
  mounted(){
    this.current_page.left  = true;
    this.current_page.right = true;
  },
  updated(){
  },
  methods: {
  },
}
</script>
