<template>
  <v-container
    v-bind="$attrs"
    v-scroll.self="onScroll"
    class="overflow-y-auto"
    :style="{
      maxHeight: ( (screen.height - cut) + 'px' ),
      overflowX: 'hidden',
    }"
  >
    <slot></slot>
    <div style="min-height: 250px"></div>
  </v-container>

</template>
<script>
 export default {
  props: {
    cut         : { default: 0, type: Number },
    autoScroll  : { default: false, type: Boolean }
  },
  data: () => ({
    name : "testing"
  }),
  computed: {
    scroller:{
      get: function () {
        return this.routes[ this.$route.name ].scroller
      },
      set: function (value) {
        this.routes[ this.$route.name ].scroller = value;
      }
    },
  },
  mounted(){
    if ( this.autoScroll ) { this.pageScroll( this.scroller ); }
  },
  updated(){
    if ( this.autoScroll ) { this.pageScroll( this.scroller ); }
  },
  methods: {
    pageScroll(to) {
        const autoScroll = () => this.$el.scroll(0, to);
        setTimeout(autoScroll, 20)
    },
    onScroll(e){
      this.scroller = e.target.scrollTop;
    }
  },
}
</script>
