<template>
  <v-app>
    <v-app-bar app>
      <!-- -->
    </v-app-bar>

    <v-navigation-drawer app>
      <!-- -->
    </v-navigation-drawer>

    <v-navigation-drawer app right>
      <!-- -->
    </v-navigation-drawer>

    <v-main>
      <the-view fluid auto-scroll cut="120"> 
        <!-- -->
      </the-view>
    </v-main>


    <v-footer padless app>
      <!-- -->
    </v-footer>
  </v-app>
</template>


<script>
 export default {
  props: {
  },
  data: () => ({
  }),
  computed: {
  },
  mounted(){
  },
  updated(){
  },
  methods: {
  },
}
</script>
