@@ extends base @@


@@ block head @@
@@ endblock @@

@@ block scripts @@
<script>
  console.log( 'Scripts - Hello' )
</script>
@@ endblock @@

@@ block mixin @@
<script>
  console.log( 'Mixin - Hello' )
</script>
@@ endblock @@


@@ block body @@
  <v-app>


      <v-main>
        <the-view>
          <v-row>

            <v-col
              cols="12"
            >

              <example-test></example-test>
              <example-form></example-form>

              <br>
              {{ globals }}
              <br>
              {{ globals.project | cut(1) }}
              <br>
              {{ testwindow }}
              <br>
              {{ api }}
              <br>
              {{ forms }}
              <br>
              {{ screen }}

            </v-col>

          </v-row>


        </the-view>
      </v-main>



  </v-app>
@@ endblock @@
